

#rone
{
	width: 150px;
	height: 150px;
	background: white;
	border-radius: 75px;
	border: 3px solid black;
	position: relative;
	top: 150px;
	left: 450px;
	
}

#absolute
{
	width:150px;
	height:150px;
	background: white;
	border-radius: 75px;
	border: 3px solid black;
	position:relative;
	top:0px;
	left:750px;

}

#rtwo
{
 width:100px;
height:100px;
background:white;
border: 3px solid black;
position: relative;
top: 100px;
left: 625px;

	
}

#rthree{
	
width:360px;
height:60px;
background:white;
border: 3px solid black;
position: relative;
top: 200px;
left:500px;
	
}
